{% extends 'base.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">


				{{ form_start(login_form, {'attr': {novalidate: 'novalidate', id : 'loginForm'}}) }}
				{% if error %}

					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				{# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
				<h1 id="titre-principal" class="h3 mb-3 font-weight-normal">Titre principal</h1>
				<h2>Entrez vos paramètres de connexion :</h2>

				{{ form_row(login_form.email, {'id' : 'inputEmail', 'full_name' : 'email'}) }}
				{{ form_row(login_form.plainPassword, {'id' : 'inputPassword',  'full_name' : 'password' }) }}
				<a href="/reset-password" class="" >Mot de passe oublié ?</a>

				<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				{#
				Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				See https://symfony.com/doc/current/security/remember_me.html

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me"> Remember me
						/label>
				</div>
				#}

				{{ form_row(login_form.Valider) }}

				{{ form_end(login_form) }}


				Pas encore de compte :  <a href="/register" class="btn btn-secondary" >Créer un compte</a>


			</div>
			<div class="col-sm-12 col-md-6"></div>
		</div>
	</div>

{% endblock %}
