<div class="col-sm-12 bet-board card p-2">

    <h5>{{ sport }} - {{ event.competition.name }} - {{ event.name }} :</h5>
    <h5>{{ event.teams[0] }} - {{ event.teams[1] }}</h5>
    <h6>{{ event.eventDateTime|date("l d F - H:i") }} {{ event.eventTimeZone }} - Lieu : {{ event.location }}</h6>

    <hr>
    <h4>Paris Simple</h4>

    <table class="table table-hover fw-bold">
        <thead>
        <tr>
            <th class="text-center" scope="col">Equipe à domicile</th>
                <th class="text-center" scope="col">Match Nul</th>
            <th class="text-center" scope="col">Equipe à l'extérieur</th>

        </tr>
        </thead>
        <tbody>
        {% for bet in listOfBet %}

            {%  if bet.typeOfBet.betType == '1N2' %}
            <tr>

                {% for odds in bet.listOfOdds %}
                    <td class="text-center">
                        <a type="button" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true" href="/app/cart/add/{{ bet.id }}/{{ loop.index0 }}">{{ odds }}</a>
                    </td>
                {% endfor %}


            </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>Under/Over</h4>

    {% for bet in listOfBet %}

    {%  if bet.typeOfBet.betType == 'over-under' %}
        {{ bet.id }}
    {% endif %}

    {% endfor %}

    <hr>
    <h4>Score Exact</h4>

    {% for bet in listOfBet %}



        {%  if bet.typeOfBet.betType == 'score exact' %}
        <div class="row">
            {% for odds in bet.listOfOdds %}
                <div class="col-4">
                    <a type="button" class="btn btn-secondary btn-lg" role="button" aria-pressed="true" href="/app/cart/add/{{ bet.id }}/{{ loop.index0 }}">{{ odds[0] }} - {{ odds[1] }}</a>
                </div>
            {% endfor %}
        </div>

        {% endif %}

    {% endfor %}

</div>
