<div class="col-sm-12 mt-4 bet-board card p-2">

<h4>Football - Top du moment</h4>
    <table class="table table-hover fw-bold">
        <thead>
        <tr>
            <th scope="col" colspan="2">Match</th>
            <th class="text-center" scope="col">Equipe à domicile</th>
            <th class="text-center" scope="col">Match Nul</th>
            <th class="text-center" scope="col">Equipe à l'extérieur</th>

        </tr>
        </thead>
        <tbody>
        {% for bet in listOfBet %}

        <tr>
                    <td class="" colspan="2">
                        <p>{{ bet.event.teams[0] }}<br>
                        {{ bet.event.teams[1] }}<br>
                        {{ bet.event.eventDateTime|date("l d F - H:i")}}<br>
                         {{ bet.event.name }} - {{ bet.event.competition.name }}</p>
                    </td>
            {% for odds in bet.listOfOdds %}
                <td class="text-center"><a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" href="/app/cart/add/{{ bet.id }}/{{ loop.index0 }}">{{ odds[1] }}</a></td>
            {% endfor %}


            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
