<h6>Ticket de paris :</h6>

{% if items %}

    {% for item in items %}
        Nom du match :<br>
        {{ item.expectedBetResult }}<br>
        {{ item.bet.typeOfBet.betType }}<br>
        @{{ item.recordedOdds }}<br>

        <a href="/app/cart/remove/{{ item.id }}" class="btn btn-danger">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
<form>
        <label> Mise :</label>
    <input type="number" value="{{ item.amount }}"/>

    <button type="submit" class="btn btn-primary">Valider</button>

</form>


    {% endfor %}

    Total des mises : {{ cart.sum }} EUR<br>
        Gain potentiels :
    {% set sum = 0 %}
    {% for item in items %}
        {% set sum = sum + (item.recordedOdds * item.amount) %}
{% endfor %}
    {{ sum }}
    EUR<br>
        <div class="col-12 d-flex justify-content-center">
            <a type="button" class="btn btn-danger btn-sm" href="/app/cart/payment">Pariez !</a>
        </div>

{% else %}
    <p>Ajouter des paris</p>
    <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary btn-sm"  disabled>Pariez !</button>
    </div>
{% endif %}





