{% use 'bootstrap_4_layout.html.twig' %}

{% block form_row %}
    <div class="mb-3">
        <div class="mb-2">
            <span style="color:lightslategrey; font-style:italic; font-weight:500;" class="fs-6">
                {{ form_label(form) }}
            </span>
        </div>

        <div>
            <span>
                {{ form_widget(form) }}
            </span>
        </div>

    </div>
{% endblock %}

{# CHECKBOX #}
{% block checkbox_widget %}
    <div class="pt-4">
        {{- parent() -}}
    </div>

{% endblock %}

{# CHOICE #}
{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="d-flex flex-column w-100">
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                    valid: valid,
                }) -}}
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded %}


{# RANGE #}
{% block range_widget %}
    <div class="container-fluid pt-4 px-0">
        <div class="row d-flex align-items-center">
            <div class="col-sm-1 px-0 d-flex justify-content-center">
                {{ form.vars.attr.min }}
            </div>
            <div class="col-sm-10 px-0">
                <div class="slider">
                    {{- parent() -}}
                </div>
            </div>
            <div class="col-sm-1 px-0 d-flex justify-content-center">
                {{ form.vars.attr.max }}
            </div>
        </div>
        <input
                id="rangeValue"
                class="mt-3"
                type="number"
                autocomplete="off"
                min={{ form.vars.attr.min }}
                max={{ form.vars.attr.max }}
                value={{ form.vars.value }}
        >
        {#        <output id="rangeValue">{{ form.vars.value }}</output>#}

    </div>

{% endblock %}

    {# SUBMIT #}
    {% block submit_widget %}
        <div class="pt-4 mb-4">
            {%- set attr = attr|merge({class: (attr.class|default('btn btn-md btn-primary w-100'))|trim}) -%}
            {{- parent() -}}
        </div>

    {% endblock %}
