{% extends 'home_base2.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
<div class="row">

    <div class="left-side-menu card col-3">
        <ul>
            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Mon profil</a>
                <ul>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Mes informations</a></li>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Activation/Désactivation de compte</a></li>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Exclusion/Clôture du compte</a></li>

                </ul>
            </li>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Mon portefeuille</a></li>


            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Aide</a></li>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Nous contacter</a></li>

        </ul>
    </div>

    <div class="main card col-6">

    </div>

    <div class="right-side-menu card col-3">

    </div>
</div>

{% endblock %}
