{% extends 'user_profile/user_profile.html.twig' %}

{% block main %}
	<h3>Mes informations</h3>
	<h4>Mon identité</h4>

	{% if editIdentity %}
		{{form_start(formIdentity, {"multipart":"true"})}}
		{{ form_widget(formIdentity) }}
		{# {{ form_row(formIdentity.lastName) }}
				{{ form_row(formIdentity.firstName) }}
				{{ form_row(formIdentity.birthDate) }}
				{{ form_row(formIdentity.justificatif) }}
				{{ form_row(formIdentity.valider) }} #}
		{{form_end(formIdentity)}}
			<a href="/app/profile/information" class="btn btn-danger"> <i class="fa fa-times" aria-hidden="true"></i>
		</a>

	{% else %}
		<form class="" action="" method="post">
			{{ form_row(formIdentity.lastName, { 'attr':{'disabled':'disabled'} }) }}
			{{ form_row(formIdentity.firstName, { 'attr':{'disabled':'disabled'} }) }}
			{{ form_row(formIdentity.birthDate, { 'attr':{'disabled':'disabled'} }) }}

			<a href="edit/identity" class="btn btn-primary">
				<i class="fa fa-edit" aria-hidden="true"></i>
			</a>
		</form>
	{% endif %}
	<br><br>
</form>

<h4>Mon adresse</h4>

<form class="" action="" method="post">

	{% if editAddress %}
		{{ form_widget(formAddress) }}
		<a href="/app/profile/information" class="btn btn-danger">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
		<button class="btn btn-success" type="submit">Valider</button>

	{% else %}
		{{ form_row(formAddress.addressNumberAndStreet, { 'attr':{'disabled':'disabled'} }) }}
		{{ form_row(formAddress.zipCode, { 'attr':{'disabled':'disabled'} }) }}
		{{ form_row(formAddress.city, { 'attr':{'disabled':'disabled'} }) }}
		{{ form_row(formAddress.country, { 'attr':{'disabled':'disabled'} }) }}

		<a href="edit/address" class="btn btn-primary">
			<i class="fa fa-edit" aria-hidden="true"></i>
		</a>
	{% endif %}
	<br><br>

</form>{% endblock %}
