{% extends 'user_profile/user_profile.html.twig' %}

{% block main %}
	<h3 class="mb-5">Mes informations</h3>
	<h4 class="mb-3">Mon identité</h4>

	{# IDENTITY FORM #}
	<div class="form_identity form_identity_1 index active">
		{{ form(identityDisabledForm) }}
		<button class="btn btn-primary edit-btn_identity">
			<i class="fa fa-edit" aria-hidden="true"></i>
		</button>
	</div>

	{# Edited identity Form #}
	<div class="form_identity form_identity-2">
		{{form_start(identityForm, {"multipart":"true"})}}
		{{ form_widget(identityForm) }}
		{{form_end(identityForm)}}
		<button class="btn btn-danger cancel-btn_identity"> <i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>

	<br><br>

	{# ADDRESS FORM #}
	<h4 class="mb-3">Mon adresse</h4>

	{# Address Form #}
	<div class="form_address form_address_2 index active">
		{{ form(addressDisabledForm) }}
		<button class="btn btn-primary edit-btn_address">
			<i class="fa fa-edit" aria-hidden="true"></i>
		</button>
	</div>

	{#	 Edited adress Form #}
	<div class="form_address form_address_1">
		{{ form(addressForm) }}
		<button class="btn btn-danger cancel-btn_address">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>

	<br><br>

{% endblock %}