{% extends 'home_base2.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="row">

    <div class="left-side-menu card col-3">
        <ul>
            <li><a href="/app/user/profile">Mon profil</a>
                <ul>
                    <li><a href="/app/user/profile/connexion">Connexion</a></li>
                    <li><a href="/app/user/profile/information">Mes informations</a></li>
                    <li><a href="/app/user/profile/activation">Activation/Désactivation de compte</a></li>
                    <li><a href="/app/user/profile/suspend">Exclusion/Clôture du compte</a></li>

                </ul>
            </li>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Mon portefeuille</a></li>
                <ul>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Solde du compte</a></li>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Réaliser un paiement</a></li>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Faire un retrait</a></li>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Modifier les coordonnées bancaires</a></li>
                    <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Limite d'argent</a></li>

                </ul>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Aide</a></li>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Nous contacter</a></li>

        </ul>
    </div>

    <div class="main card col-6">
        {% block main %}
        {% endblock %}

    </div>

    <div class="right-side-menu card col-3">
        <ul>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Mes tickets</a></li>

            <li><a href="{{ '/var/www/html/src/Controller/UserProfileController.php'|file_link(0) }}">Mes favoris</a></li>

        </ul>
    </div>
</div>

{% endblock %}
