{% extends 'user_profile/user_profile.html.twig' %}

{% block main %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Modifier les coordonnées bancaires</h3>

    <h4>Mes coordonnées bancaires</h4>

   <p>Propriétaire du compte : {{ user.lastName }} - {{ user.firstName }}</p>
        {% if editBankAccount %}
            {{ form(formBankAccount) }}
            <a href="/app/wallet/bank-account" class="btn btn-danger">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>

        {% else %}
            <form class="" action="">

            {{ form_row(formBankAccount.ibanCode, { 'attr':{'disabled':'disabled'} }) }}
            {{ form_row(formBankAccount.bicCode, { 'attr':{'disabled':'disabled'} }) }}
            </form>

            <a href="/app/wallet/bank-account/edit" class="btn btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
        {% endif %}




{% endblock %}
